.layout{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
 }
.side-bar{
    width:20%;
    min-width: 220px;
    height: 100%;
    background-color: #1E293B;
    color:white;
    font-weight: 500;
} 
.main-content{
    flex: 1;
    height: 100%;
    padding:15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}